.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  color: #fff;
}
.wrapper {
  margin-top: 50px;
  width: 50%;
}
.label {
  padding: 20px;
  font-size: 1.5rem;
  letter-spacing: 2px;
}
input {
  width: 400px;
  min-height: 20px;
}
.results {
  text-align: start;
}
